[Unit]

Description=IEMDB PostgreSQL Server
After=syslog.target
After=network.target

[Service]
Type=forking
TimeoutSec=300

User=postgres
Group=postgres

Environment=PGDATA=/pg_iem/data/DIEM
Environment=PGPORT=5432

ExecStartPre=setenforce 0 > /tmp/enforce.log
ExecStart=/usr/bin/pg_ctl start -D ${PGDATA} -s -o "-p ${PGPORT}" -w -t 300
ExecStop=/usr/bin/pg_ctl stop -D ${PGDATA} -s -m fast
ExecReload=/usr/bin/pg_ctl reload -D ${PGDATA} -s

[Install]
WantedBy=multi-user.target
